<launch>

  <arg name="namespace" default="" />
  <arg name="port" default="8123" />

  <group if="$(eval len(arg('namespace')) > 0)" ns="$(arg namespace)" >
    <param name="port" value="$(arg port)" />
    <node name="eusmodel_server"
          pkg="kxreus" type="eus_model_server.py" >
    </node>

    <node name="http_server_node"
          pkg="kxreus" type="http_server_node.py" >
    </node>
  </group>

  <group unless="$(eval len(arg('namespace')) > 0)">
    <param name="port" value="$(arg port)" />
    <node name="eusmodel_server"
          pkg="kxreus" type="eus_model_server.py" >
    </node>

    <node name="http_server_node"
          pkg="kxreus" type="http_server_node.py" >
    </node>
  </group>

</launch>
