<launch>

  <arg name="namespace" default="" />
  <arg name="mesh_server_port" default="8123" />

  <param name="/mesh_server_port" value="$(arg mesh_server_port)" />
  <node name="http_server_node"
        pkg="kxreus" type="http_server_node.py" >
  </node>

  <group if="$(eval len(arg('namespace')) > 0)" ns="$(arg namespace)" >
    <node name="eusmodel_server"
          pkg="kxreus" type="eus_model_server.py" >
    </node>
  </group>

  <group unless="$(eval len(arg('namespace')) > 0)">
    <node name="eusmodel_server"
          pkg="kxreus" type="eus_model_server.py" >
    </node>
  </group>

</launch>
